html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 0.9375rem;
  font-size: clamp(0.8125rem, 4vw, 1.125rem);
  line-height: 2;
  color: #000;
  background-color: #f0eff0;
}

h1,
h2,
h3 {
  font-family: --ff-accent;
  line-height: 1.325;
  letter-spacing: 0;
}

h1 {
  font-size: 2.1875rem;
  font-size: clamp(2rem, 11vw, 3.125rem);
}
