@import 'variables';
@import 'normal+reset';
@import 'typography';
@import 'layout';

h2 {
  margin-top: 2.2em;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.header {
  padding: 2em 2em;
}

.hero {
  padding: 0 2em;
}

.hero-img {
  display: none;
}

.hero-text {
  min-height: 100vh;
}

.find-me {
  display: flex;
  gap: 2em;
  align-items: center;
  flex-wrap: wrap;
}

.social-media {
  display: flex;
  gap: 0.5rem;

  li + li:hover {
    transition: all 300ms ease;
    background-color: #f5c401;
  }
}

.contact-me {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.cta {
  border-radius: 4px;
  color: #fbfbfb;
  font-weight: 700;
  background-color: #1c1c1c;
  padding: 1em 2em;
  cursor: pointer;

  &:hover {
    transition: all 300ms ease;
    color: #1c1c1c;
    background-color: #f5c401;
  }
}

.btn-text {
  padding: 0.25em 1.25em;
  font-weight: 700;
  color: #fbfbfb;
  background-color: #1c1c1c;

  &:hover {
    transition: all 300ms ease;
    color: #1c1c1c;
    background-color: #f5c401;
  }
}

@media (min-width: 640px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
  }

  .wrapper {
    /* margin: 0 60px 0; */
    overflow-x: clip;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .header {
    padding: 2rem 5rem;
  }

  .hero {
    padding: 0;
    position: relative;
    overflow-y: clip;
  }

  .hero-img {
    display: block;
    position: absolute;
    max-width: unset;
    height: 100vh;
    top: 0;
    left: -5rem;
  }

  .hero-img-bg {
    display: block;
    position: absolute;
    max-width: unset;
    height: 100vh;
    top: 0;
    left: -5rem;
    filter: grayscale(100%);
    transform: translate(10%, 20%);
    z-index: -999;
  }

  .hero-text {
    padding: 5rem;
  }

  .intro {
    max-width: 520px;
  }

  .intro-text {
    margin-bottom: 1.5rem;
  }

  .intro-text__subtitle {
    margin: 0;
  }

  .intro-text__title {
    margin: 0;
  }
}

/* @media (min-width: 1050px) {
  
} */
